@use '/src/variables';

.container {
  background-color: variables.$river-styx;
  height: 65px;
  width: 311px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.title {
  @include variables.body-text;
  margin-left: 10px;

}

.title p {
  color: variables.$purple-gunsmoke;
}

.status {
  @include variables.heading-m;
  margin-right: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.display {
  width: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.bar {
  height: 24px;
  width: 6px;
  border: 2px solid variables.$lilac-murmur ;

}

.v-weak {
  border: 2px solid variables.$infrared ;
  background-color: variables.$infrared ;
}

.weak {
  border: 2px solid variables.$adventure-island-pink;
  background-color: variables.$adventure-island-pink;
}

.medium {
  border: 2px solid variables.$soaked-in-sun;
  background-color: variables.$soaked-in-sun;
}

.strong {
  border: 2px solid variables.$synthetic-mint;
  background-color: variables.$synthetic-mint;
}
