<div class="container">
  <div class="content">
    <h1>Password Generator </h1>
    <label for="clipboard-example-textarea">Text to be copied</label>[(ngModel)]="value"
<textarea id="clipboard-example-textarea" class="password" cols="20" rows="1" >{{password.join("")}}</textarea>
<button><img src="/assets/images/icon-copy.svg"
  class="icon">Copy to clipboard</button> [cdkCopyToClipboard]="value"


    <div class="interactive">
      <!-- slider -->
      <app-slider (newCharValueEvent)="updateCharCount($event)"></app-slider>

      <!-- checkbox[ngModel]="upper(ngModelChange)="""
                 -->
      <div class="control-group">
        <label class="control control-checkbox">
          <input type="checkbox"
                 [checked]="upper"
                 (change)="upper = !upper; updatestrength()" />Include Uppercase Letters
          <div class="control-indicator"></div>
        </label>

        <label class="control control-checkbox">
          <input type="checkbox"
                 [checked]="lower"
                 (change)="lower = !lower; updatestrength()" />Include Lowercase Letters
          <div class="control-indicator"></div>
        </label>

        <label class="control control-checkbox">
          <input type="checkbox"
                 [checked]="number"
                 (change)="number = !number; updatestrength()" />Include Numbers
          <div class="control-indicator"></div>
        </label>
        <label class="control control-checkbox">
          <input type="checkbox"
                 [checked]="symbol"
                 (change)="symbol = !symbol; updatestrength()" />Include Symbols
          <div class="control-indicator"></div>
        </label>
      </div>

      <!-- strength -->
      <app-strength-bar [strength]="currentStrength"></app-strength-bar>

      <!-- button -->

      <button type="button"
              (click)="generateNewPassword()"> Generate <img src="/assets/images/icon-arrow-right.svg"
             class="logo"></button>
    </div>
  </div>
</div>
