@use '/src/variables';

h1 {
  color: variables.$purple-gunsmoke;
  @include variables.body-text;
  text-align: center;

}

.password {
  height: 64px;
  width: 323px;
  background-color: variables.$black-russian;
  @include variables.flex-row;
  padding: 0 20px;
}

.password-text {
  @include variables.heading-m;
  color: variables.$lilac-murmur;

}

.empty {
  opacity: .25;
}

.filled {
  opacity: 1;
}


svg.copy-icon {
  fill: variables.$synthetic-mint;
  margin-left: 10px;
}

svg.copy-icon:hover {
  fill: variables.$lilac-murmur;
}

.copy-btn {
  @include variables.body-text;
  @include variables.flex-row;
  background-color: transparent;
  border: none;

}

.copy-btn>div {
  color: variables.$synthetic-mint;
}

.copy-btn:hover>div,
.copy-btn:hover>svg {
  color: variables.$lilac-murmur;
  fill: variables.$lilac-murmur;
}

/* button */
.btn-primary {
  margin: 25px;
  width: 311px;
  height: 56px;
  border: 2px solid variables.$river-styx;
  background-color: variables.$synthetic-mint;
  color: variables.$river-styx;
  text-transform: uppercase;
  font-size: 18px;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: variables.$black-russian;
  color: variables.$synthetic-mint;
  border: 2px solid variables.$synthetic-mint;
}

.interactive {
  height: fit-content;
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 10px;
  background-color: variables.$black-russian;

}


/* checkbox */
.control-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  height: 132px;
  width: 280px;
  // margin-bottom: 20px;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin-left: 10px;
}

.control-indicator {
  position: absolute;

  top: 2px;
  left: -10px;
  height: 20px;
  width: 20px;
  background: variables.$black-russian;
  border: 2px solid variables.$lilac-murmur;
}

.control:hover input~.control-indicator {
  background: variables.$synthetic-mint;
}

.control input:checked~.control-indicator {
  background: variables.$synthetic-mint;
}

.control-indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}

.control input:checked~.control-indicator:after {
  display: block;
}

.control-checkbox .control-indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid variables.$black-russian;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}




/* Responsive Styles */
/* @media screen and (max-width: 575px) {
} */
