<div class="container">
  <div class="content">
    <h1>Password Generator </h1>
    <div class="password">
      <p>{{password.join("")}}</p>
      <img src="/assets/images/icon-copy.svg"
           class="icon">
    </div>

    <div class="interactive">
      <!-- slider -->
      <app-slider></app-slider>

      <!-- checkbox[ngModel]="upper(ngModelChange)="""
                 -->
      <div class="control-group">
        <label class="control control-checkbox">
          <input type="checkbox"
                 [checked]="upper"
                 (change)="setUpperCase()" />Include Uppercase Letters
          <div class="control-indicator"></div>
        </label>

        <label class="control control-checkbox">
          <input type="checkbox"
                 [checked]="lower"
                 (change)="setLowerCase()" />Include Lowercase Letters
          <div class="control-indicator"></div>
        </label>

        <label class="control control-checkbox">
          <input type="checkbox"
                 [checked]="number"
                 (change)="setNumber()" />Include Numbers
          <div class="control-indicator"></div>
        </label>
        <label class="control control-checkbox">
          <input type="checkbox"
                 [checked]="symbol"
                 (change)="setSymbol()" />Include Symbols
          <div class="control-indicator"></div>
        </label>
      </div>

      <!-- strength -->
      <app-strength-bar></app-strength-bar>

      <!-- button -->

      <button> Generate <img src="/assets/images/icon-arrow-right.svg"
             class="logo"></button>
    </div>
  </div>
</div>
